{% extends "core/base.html" %}

{% block title %} Главная Т-Контакта {% endblock %}

{% block content %}

{% for product in queryset %}
<div class="product">
     <a href="{{ product.get_absolute_url }}">
         {{ product.producer }} - {{ product.tire_model }}
     </a>
    </br>

    {% for photo in product.photos_name.all %}
    <img src="{{ photo.photo.url }}">
    {% endfor %}
    </br>
    Цена - {{ product.price }}
    </br>
    В наличии - {{ product.stock }} шт.

</div>
{% endfor %}

{% endblock %}