img {
 width: 150px;
 height: 150px;
}

div {

 /*border: thick double #32a1ce;*/
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: grey;
}

#pagination {
    clear: both;
    margin-top: 150px;
}

