img {

}
/*
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: grey;
}
*/
#pagination {
    clear: both;
    margin-top: 150px;
}

#product-filter {
    border-style: ridge;
    border-width: thin;
    margin-bottom: 5px;

}

#product-filter h3 {
    margin-top: 3px;
}
