img {
 width: 150px;
 height: 150px;
}



a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: grey;
}

#pagination {
    clear: both;
    margin-top: 150px;
}

